body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
#root {
  /* background-color: aquamarine; */
  background: url(./assets/2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.whole {
  height: 50rem;
  width: 99%;
  max-width: 800px;
  padding: 20px;
  display: flex;
  align-items: center;
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  background-position: center;
}


.social-buttons {
  text-align: center;
}

.social-buttons p {
  margin-bottom: 10px;
  font-weight: bold;
}

.social-buttons .btn {
  color: #fff;
  transition: background-color 0.3s ease;
}

.social-buttons .btn:hover {
  background-color: #1266f1;

}

.social-buttons .btn.facebook {
  color: #1877f2;
}

.social-buttons .btn.facebook:hover {
  color: #ffffff;
  background-color: #1877f2;
}

.social-buttons .btn.twitter {
  color: #1da1f2;
}

.social-buttons .btn.twitter:hover {
  color: #ffffff;
  background-color: #1da1f2;
}

.social-buttons .btn.google {
  color: #ea4335;
}

.social-buttons .btn.google:hover {
  color: #ffffff;
  background-color: #ea4335;
}

.social-buttons .btn.github {
  color: #333;
}

.social-buttons .btn.github:hover {
  background-color: #333;
  color: #ffffff;
}
.profile {
  border: 2px solid #ddd; /* Add a border with a 2px width and a color of your choice */
  background-color: #f7f7f7; /* Set a background color that shows the content well */
  padding: 20px; /* Add padding to create some space around the content */
  text-align: center; /* Center align the text within the profile section */
}

.profile h2 {
  margin-bottom: 10px; /* Add a small margin below the heading */
}

.profile .photo {
  margin-top: 20px; /* Add a margin on top of the photo */
}

.profile .photo img {
  width: 100px; /* Set the width of the photo to your desired size */
  height: auto; /* Maintain the aspect ratio of the photo */
  border-radius: 50%; /* Apply a circular border radius to the photo */
  object-fit: cover; /* Make sure the photo fills the available space without stretching */
}

.profile .sign-up-btn {
  background-color: rgb(151, 47, 47);
  margin-top: 20px; /* Add a margin on top of the sign-out button */
}
.profile .sign-up-btn:hover{
  background-color: rgb(255, 0, 0);
  color: black;
}
