body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
#root {
  /* background-color: aquamarine; */
  background: url(./assets/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.whole {
  height: 50rem;
  width: 99%;
  max-width: 800px;
  padding: 20px;
  display: flex;
  align-items: center;
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  background-position: center;
}


.social-buttons {
  text-align: center;
}

.social-buttons p {
  margin-bottom: 10px;
  font-weight: bold;
}

.social-buttons .btn {
  color: #fff;
  transition: background-color 0.3s ease;
}

.social-buttons .btn:hover {
  background-color: #1266f1;

}

.social-buttons .btn.facebook {
  color: #1877f2;
}

.social-buttons .btn.facebook:hover {
  color: #ffffff;
  background-color: #1877f2;
}

.social-buttons .btn.twitter {
  color: #1da1f2;
}

.social-buttons .btn.twitter:hover {
  color: #ffffff;
  background-color: #1da1f2;
}

.social-buttons .btn.google {
  color: #ea4335;
}

.social-buttons .btn.google:hover {
  color: #ffffff;
  background-color: #ea4335;
}

.social-buttons .btn.github {
  color: #333;
}

.social-buttons .btn.github:hover {
  background-color: #333;
  color: #ffffff;
}
