.about-container {
  max-width: 800px;
  margin: 90px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.about-text {
  text-align: center;
}

.about-text h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-text p {
  font-size: 16px;
  margin-bottom: 10px;
}

.about-text img {
  max-width: 100%;
  margin-bottom: 20px;
}

.about-text ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 10px;
}

.about-text li {
  font-size: 14px;
  margin-bottom: 5px;
}

.about-text u {
  text-decoration: underline;
  margin-bottom: 10px;
}

.about-text p:last-child {
  margin-bottom: 0;
}
